<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AOT | {{i18n.title}}</title>
        <link rel="stylesheet" type="text/css" href="/main.css">
        <link rel="stylesheet" type="text/css" href="/day.css">
    </head>
    <body style="text-align: center">
        <header>
            <h1>{{i18n.title}}</h1>
            {{#if day.guessData}}
                <h2>{{i18n.already_guessed}}</h2>
            {{else}}
                <h2>{{i18n.guess_today}}</h2>
            {{/if}}
        </header>

        <div class="center">
            <input type="hidden" name="day-token" value="{{day.id}}">
            <img width="500" src="{{day.imgSrc}}" alt="{{day.imgAlt}}">
            <div class="hints">
                <p title="{{i18n.hint_original_date}}"> {{day.originalDate}}</p>
                <p title="{{i18n.hint_location}}"> {{day.locationHint}}</p>
            </div>

            {{#if authenticated}}
                {{#if day.guessData}}
                    <div class="my-guess">
                        <p title="{{i18n.hint_your_guess}}"> {{day.guessData.time}}</p>
                        <p title="{{i18n.hint_your_points}}"> {{day.guessData.points}}</p>
                    </div>
                    <p><a href="/auth/me"> {{i18n.check_progress}} </a></p>
                {{else}}
                    <form id="guess-daily-picture">
                        <p>
                            <label for="time-guess">{{i18n.hint_your_guess}}:</label>
                            <input id="time-guess" type="time" name="time-guess" type="text" />
                        </p>
                        <button type="submit">{{i18n.submit_text}}</button>
                    </form>
                {{/if}}
            {{else}}
                <p><a href="/auth/login">{{i18n.login_required}}</a></p>
            {{/if}}

            <p><a href="/about#faq-point-system"> {{i18n.check_point_system}} </a></p>
        </div>

        <a id="link-go-home" href="/">/home </a>

        <script src="/scripts/day.js"></script>
    </body>
</html>
