<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AOT | {{title}}</title>
        <link rel="stylesheet" type="text/css" href="/main.css">
        <link rel="stylesheet" type="text/css" href="/day.css">
    </head>
    <body style="text-align: center">
        <header>
            <h1>{{title}}</h1>
            {{#if day.guessData}}
                <h2>Already guessed</h2>
            {{else}}
                <h2>Guess today's picture!</h2>
            {{/if}}
        </header>

        <div class="center">
            <input type="hidden" name="day-token" value="{{day.id}}">
            <img width="500" src="{{day.imgSrc}}" alt="{{day.imgAlt}}">
            <div class="hints">
                <p title="Exact date of when this picture was taken"> {{day.originalDate}}</p>
                <p title="Location depicted in the picture"> {{day.locationHint}}</p>
            </div>

            {{#if authenticated}}
                {{#if day.guessData}}
                    <div class="my-guess">
                        <p title="Your guess"> {{day.guessData.time}}</p>
                        <p title="Your points"> {{day.guessData.points}}</p>
                    </div>
                    <p><a href="/auth/me"> Check progress </a></p>
                {{else}}
                    <form id="guess-daily-picture">
                        <p>
                            <label for="time-guess">Your guess:</label>
                            <input id="time-guess" type="time" name="time-guess" type="text" />
                        </p>
                        <button type="submit">Submit</button>
                    </form>
                {{/if}}
            {{else}}
                <p>Please <a href="/auth/login">login</a> first in order submit your guess</p>
            {{/if}}

            <p><a href="/about#faq-point-system"> Check point system </a></p>
        </div>

        <a id="link-go-home" href="/">/home </a>

        <script src="/scripts/day.js"></script>
    </body>
</html>
