<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Advent Of Time</title>
        <link rel="stylesheet" type="text/css" href="/main.css">
    </head>
    <body>
        <header>
            <h1><span class="wheel">⏳</span> Advent Of Time <span class="wheel">🎄</span></h1>
            <h2>Sweden 2025 edition</h2>
        </header>

        <code id="js-block-detect" style="color: red; background-color: black;">
            <span style="font-size: 2em;">⚠️</span>
            This webapp requires JavaScript to function properly. <br/>
            Please disable your AdBlocker or conflicting extension.
        </code>

        <p id="greeting">{{greetMsg}}</p>

        <main>
            <ul class="navbar">
                <li><a href="/about"> About</a></li>
                {{#if authenticated}}
                    <li><a href="/auth/me"> Profile</a></li>
                    <li><a href="/auth/logout">󰍃 Logout</a></li>
                {{else}}
                    <li><a href="/auth/login">󰍂 Login</a></li>
                {{/if}}
                <li><a href="/leaderboard"> Leaderboard</a></li>
            </ul>

            <div class="days">
                {{#each days}}
                    {{#if this.released}}
                        {{#if this.guessed}}
                            <a class="day-link guessed" href="/day/{{this.day}}">⭐</a>
                        {{else}}
                            <a class="day-link" href="/day/{{this.day}}">{{this.day}}</a>
                        {{/if}}
                    {{else}}
                        <a class="day-link disabled" href="/day/{{this.day}}">{{this.day}}</a>
                    {{/if}}
                {{/each}}
            </div>
        </main>

        <script src="/scripts/index.js"></script>
    </body>
</html>
