<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AOT | {{i18n.title}}</title>
        <link rel="stylesheet" type="text/css" href="/main.css">
        <link rel="stylesheet" type="text/css" href="/leaderboard.css">
    </head>
    <body style="text-align: center">
        <header>
            <h1>{{i18n.title}}</h1>
        </header>

        <div class="center">
            <p>{{{i18n.text_max_score}}}</p>

            <p><a href="/about#faq-point-system"> {{i18n.check_point_system}} </a></p>

            <table>
                <tr>
                    <th>{{i18n.rank}}</th>
                    <th>{{i18n.user}}</th>
                    <th>{{i18n.guesses}}</th>
                    <th>{{i18n.score}}</th>
                    <th>{{i18n.accuracy}}</th>
                </tr>

                {{#each users}}
                    {{#unless this.hidden}}
                        <tr>
                            <td>{{this.rank}}</td>
                            <td>{{this.username}}</td>
                            <td>{{this.guesses}}</td>
                            <td>{{this.score}} </td>
                            <td>{{this.accuracy}} 󰣉</td>
                        </tr>
                    {{/unless}}
                {{/each}}
            </table>
        </div>

        <br/>
        <a id="link-go-home" href="/">/home </a>
    </body>
</html>
