<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AOT | {{i18n.title}}</title>
        <link rel="stylesheet" type="text/css" href="/main.css">
        <link rel="stylesheet" type="text/css" href="/leaderboard.css">
    </head>
    <body style="text-align: center">
        <header>
            <h1>{{i18n.title}}</h1>
        </header>

        <div class="center">
            <table>
                <tr>
                    <th>{{i18n.user}}</th>
                    <th>{{i18n.guesses}}</th>
                    <th>{{i18n.score}}</th>
                </tr>

                {{#each users}}
                    {{#unless this.hidden}}
                        <tr>
                            <td>{{this.username}}</td>
                            <td>{{this.guesses}} / {{@root.total_days}}</td>
                            <td>{{this.score}} ⭐</td>
                        </tr>
                    {{/unless}}
                {{/each}}
            </table>
        </div>

        <br/>
        <a id="link-go-home" href="/">/home </a>
    </body>
</html>
