<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AOT | {{i18n.title}}</title>
        <link rel="stylesheet" type="text/css" href="/main.css">
        <link rel="stylesheet" type="text/css" href="/profile.css">
    </head>
    <body style="text-align: center">
        <header>
            <h1>{{i18n.title}}</h1>
        </header>

        <div class="center">
           <article id="profile">
                <p id="username"><span>{{i18n.generated_username}}:</span> {{username}}</p>
                <p id="account"><span>{{i18n.account}}:</span> {{account_name}}</p>
            </article>

            <table>
                <tr>
                    <th>{{i18n.day}}</th>
                    <th>{{i18n.guess}}</th>
                    <th>{{i18n.points}}</th>
                </tr>

                {{#each days}}
                    <tr>
                        <td><a href="/day/{{this.day}}"> {{this.day}}</a></td>
                        {{#if this.guessed}}
                            <td>{{this.time}}</td>
                            <td>{{this.points}} ⭐</td>
                        {{else}}
                            <td>-</td>
                            <td>0 ⚫</td>
                        {{/if}}
                    </tr>
                {{/each}}
            </table>
            <p>{{i18n.score}}: {{total_score}} ⭐</p>
        </div>

        <br/>
        <a id="link-go-home" href="/">/home </a>
    </body>
</html>
