<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AOT | Profile</title>
        <link rel="stylesheet" type="text/css" href="/main.css">
    </head>
    <body style="text-align: center">
        <header>
            <h1>Profile</h1>
        </header>

        <div class="center">
            <h3>User: {{username}}</h3>
            <ul>
                {{#each days}}
                    {{#if this.guessed}}
                        <li>Day {{this.day}} => {{this.points}} ⭐</li>
                    {{else}}
                        <li>Day {{this.day}} => 0 ⚫</li>
                    {{/if}}
                {{/each}}
            </ul>
            <p>Total: {{total_score}} ⭐</p>
        </div>

        <br/>
        <a id="link-go-home" href="/">/home </a>
    </body>
</html>
